.result__movie
  .result__movie__thumbnail
    %div{ id: "player_#{movie.id}" }
    
  = link_to movie_path(movie.id), class: "result__movie__show--link" do
    %table.result__movie__information
      %tr
        %th
          区分
        %td
          = movie.category
        %th
          曲タイトル
        %td
          = movie.music_title
      %tr
        %th
          種目・アイテム
        %td
          = movie.item
        %th
          アーティスト
        %td
          = movie.music_artist
      %tr
        %th
          学生／プロ・アマ
        %td
          = movie.performer_status
        %th
          出演・受賞
        %td
          = movie.performed_at
      %tr
        %th
          演者名
        %td
          = movie.performer_name
        %th
          タグ
        %td
          = movie.tags
  = link_to edit_movie_path(movie.id), class: "result__movie__edit--link" do
    .result__movie__edit-button
      = icon("far", "edit", class: "result__movie__edit-button__icon")
      編集
  %input{type: "hidden", id: "movie_url_#{movie.id}", value: movie.url}/
  %input{type: "hidden", id: "movie_id_#{movie.id}", value: movie.id}/