.edit
  .edit__thumbnail
    ここにサムネイルが表示される予定
  = form_for @movie, { class: 'new__form' } do |f|
    
    // エラーメッセージ

    %table.edit__form__table
      %tr
        %th
          動画URL
        %td{colspan: "3"}
          = f.text_field :url
      %tr
        %th 
          区分
        %td
          %label
            = f.radio_button :category, "ステージ"
            ステージ
          %label
            = f.radio_button :category, "クロース"
            クロース
          %label
            = f.radio_button :category, "サロン"
            サロン
        %th
          曲タイトル
        %td
          = f.text_field :music_title
      %tr
        %th
          種目・アイテム
        %td
          = f.text_field :item
        %th
          アーティスト
        %td
          = f.text_field :music_artist
      %tr
        %th
          学生／プロ・アマ
        %td
          %label
            = f.radio_button :performer_status, "学生"
            学生
          %label
            = f.radio_button :performer_status, "プロ・アマ"
            プロ・アマ
        %th
          出演・受賞
        %td
          = f.text_field :performed_at
      %tr
        %th
          演者名
        %td
          = f.text_field :performer_name
        %th
          タグ
        %td
          = f.text_field :tags
    .edit__form__submits
      .edit__form__submits__update
        = button_tag type: "submit", class: "edit__form__submits__update__btn" do
          = icon("fas", "retweet", class: "edit__form__submits__update__btn__update-icon")
          更新
      .edit__form__submits__delete
        = link_to movie_path(@movie.id), class: "edit__form__submits__delete__link", method: :delete do
          = button_tag type: "submit", class: "edit__form__submits__delete__btn" do
            = icon("fas", "trash-alt", class: "edit__form__submits__delete__btn__delete-icon")
            削除