.search
  = form_tag movies_searches_path, method: "get", class: "search__form" do
    .search__form__title
      = icon("fas", "search", class: "search__form__title__search-icon")
      条件で絞り込む
    %table.search__form__table
      %tr
        %th
          区分
        %td
          = label_tag do
            = radio_button_tag "category", "stage"
            ステージ
          = label_tag do
            = radio_button_tag "category", "close"
            クロース
          = label_tag do
            = radio_button_tag "category", "juggling"
            ジャグ
      %tr
        %th
          種目
        %td
          = text_field_tag :item
      %tr
        %th
          学生／プロ・アマ
        %td
          =check_box_tag :performer_status_student
          =label_tag :performer_status_student, "学生"
          =check_box_tag :performer_status_proama
          =label_tag :performer_status_proama, "プロ・アマ"
      %tr
        %th 
          演者名
        %td
          = text_field_tag :performer_name
      %tr
        %th
          曲タイトル
        %td
          = text_field_tag :music_title
      %tr
        %th
          アーティスト
        %td
          = text_field_tag :music_artist
      %tr
        %th
          出演・受賞
        %td
          = text_field_tag :performed_at
      %tr
        %th
          タグ
        %td
          = text_field_tag :tags
.accordion-search
  = icon("fas", "chevron-up")

.result
  - if @movies
    = render @movies

%input{type: "hidden", id: "category_hidden", value: @last_form['category']}/
%input{type: "hidden", id: "item_hidden", value: @last_form['item']}/
%input{type: "hidden", id: "performer_status_student_hidden", value: @last_form['performer_status_student']}/
%input{type: "hidden", id: "performer_status_proama_hidden", value: @last_form['performer_status_proama']}/
%input{type: "hidden", id: "performer_name_hidden", value: @last_form['performer_name']}/
%input{type: "hidden", id: "music_title_hidden", value: @last_form['music_title']}/
%input{type: "hidden", id: "music_artist_hidden", value: @last_form['music_artist']}/
%input{type: "hidden", id: "performed_at_hidden", value: @last_form['performed_at']}/
%input{type: "hidden", id: "tags_hidden", value: @last_form['tags']}/

