.show
  .show__thumbnail
    #thumbnail
  %table.show__table
    %tr
      %th
        動画URL
      %td{colspan: "3"}
        = @video.url
        %input{type: "hidden", id: "video_url", value: @video.url}/
    %tr
      %th
        区分
      %td
        = @video.category
      %th
        曲タイトル
      %td
        = @video.music_title
    %tr
      %th
        種目・アイテム
      %td
        = @video.item
      %th
        アーティスト
      %td
        = @video.music_artist
    %tr
      %th
        学生／プロ・アマ
      %td
        = @video.performer_status
      %th
        出演・受賞
      %td
        = @video.performed_at
    %tr
      %th
        演者名
      %td
        = @video.performer_name
      %th
        タグ
      %td
        = @video.tags
  .show__back
    = link_to root_path, class: "show__back__btn" do
      = icon("fas", "arrow-left", class: "show__back__btn__icon")
      戻る
