.search
  = form_tag movies_searches_path, method: "get", class: "search__form" do
    %table.search__form__table
      %tr
        %th
          区分
        %td
          = text_field_tag :category
      %tr
        %th
          種目
        %td
          = text_field_tag :item
      %tr
        %th
          学生／プロ・アマ
        %td
          =check_box_tag :performer_status_student
          =label_tag :performer_status_student, "学生"
          =check_box_tag :performer_status_proama
          =label_tag :performer_status_proama, "プロ・アマ"
      %tr
        %th 
          演者名
        %td
          = text_field_tag :performer_name
      %tr
        %th
          曲タイトル
        %td
          = text_field_tag :music_title
      %tr
        %th
          アーティスト
        %td
          = text_field_tag :music_artist
      %tr
        %th
          出演・受賞
        %td
          = text_field_tag :performed_at
      %tr
        %th
          タグ
        %td
          = text_field_tag :tags
    .search__form__submit
      = button_tag type: "submit", class: "search__form__submit__btn" do
        = icon("fas", "search", class: "search__form__submit__btn__search-icon")
        検索
.accordion-search
  = icon("fas", "chevron-up")

.result
  = render partial: 'movies/movie', collection: @movies