!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 動画管理するやつ
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  %body
    .header
      .header__app-name
        = link_to root_path, class: "header__app-name__index-link" do
          動画かんりするやつ
      .header__internal
        .header__internal__screen-name
          - if current_page?(root_path)
            動画を検索する
          - elsif @movie
            - if @movie.id == nil
              新規登録する
            - else
              - if current_page?(edit_movie_path(@movie))
                動画の情報を編集・削除する
              - elsif current_page?(movie_path(@movie))
                動画の詳細を確認する
          
        .header__internal__user
          - if user_signed_in?
            = link_to edit_user_path(current_user), class: "header__internal__user__name" do
              = icon("fas", "user", class: "header__user__icon")
              = current_user.name
            = link_to destroy_user_session_path, class: "header__internal__user__sign-out", method: :delete do
              ログアウト

      .header__add-movie
        - if user_signed_in?
          = link_to new_movie_path, class: "header__add-movie__btn" do
            = icon("fas", "plus", class: "header__add-movie__btn__plus-icon")
            動画を追加
    .contents
      = yield
